<% srpm_count h(@package_counter) -%>
<% title _("Prometheus 2.0 - Maintainer - Error! no such packager") -%>
<% url "/packager/" + h(params[:login]) -%>

<div class="header"><%=h _("No such packager!") %></div>
