<% srpm_count @package_counter %>
<% title "Sisyphus 2.0 &mdash; Maintainer &mdash; error! no such packager" %>
<% url "/packager/" + h(params[:login]) %>

<div class="header">Нет такого маинтейнера!</div>
