<% title _('Prometheus 2.0 - Team - Error!') %>

<div id='main-content'>
  <div class='header'><%= _('No such team!') %></div>
</div>

<div id='bottom-offset-l'>
  <div id='bottom-offset-r'>
    &nbsp;
  </div>
</div>
