db/seeds.rb.local
db/schema.rb
log/*.log
db/development.sqlite3
db/test.sqlite3
.DS_Store
.sass-cache/*
._*
*~
Capfile
po/*/prometheus.mo
config/deploy.rb
config/newrelic.yml
locale/*
vendor/plugins/newrelic_rpm/*
