.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.DS_Store
._*
*~
Capfile
config/deploy.rb
config/newrelic.yml
config/redis.yml
vendor/plugins/newrelic_rpm/*
.bundle/*
locale/*/LC_MESSAGES/*.mo
.rvmrc
public/sitemap*.xml.gz
dump.rdb
db/sphinx/*
config/development.sphinx.conf
config/database.yml

