[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = git://github.com/rails/exception_notification.git
[submodule "vendor/plugins/russian"]
	path = vendor/plugins/russian
	url = git://github.com/yaroslav/russian.git
[submodule "vendor/plugins/ukrainian"]
	path = vendor/plugins/ukrainian
	url = git://github.com/biow0lf/ukrainian.git
[submodule "vendor/plugins/high_voltage"]
	path = vendor/plugins/high_voltage
	url = git://github.com/thoughtbot/high_voltage.git
