<% title _('Prometheus 2.0 - Information about the project') %>

<div class="span8">

<h2><%= _('Project Prometheus') %></h2>
<%= _("<p><b>Prometheus</b> project is an attempt to create analytic site for developers and users of
Sisyphus repository.</p>

<p>It is useful for developers due to ability to more closely interoperate with other
developers and users of respective packages.  This site is especially valueable
to new ALT Linux Team members. It gives answers \"who is who\", \"who does what\",
\"what status is\" in interesting field.</p>

<p>Sisyphus users can get full information about a package beforehand. There are
handy links (site of origin, ALT Linux specific issues, wiki, etc.).</p>

<p>The project is useful for ALT Linux Ltd. and ALT Linux core team too, as it gives
information about Sisyphus development, strong and weak aspects, actively
supported and used groups of packages.</p>

<p>Another nice property of the project is posibility to use it together with
any other package repository snapshot (not only Sisyphus itself), for local
development within a small group or even one's self.</p>").html_safe %>

</div>

<div class="span2">
  &nbsp;
</div>
