body {
    font-family: arial, helvetica, sans-serif; font-size: 9pt; font-weight: normal;
    background: #eaeaea; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; color: black;
    text-rendering: optimizeLegibility;
}
table {
    font-size: 8pt;
}
form {
    display: inline;
}
div {
/*    border:solid black 1px; */
}
div.para {
    position: relative; margin-left:5em;
}
div.grplist {
    cursor:pointer;font-weight:bold;
}
div.grphid {
    margin-left:2em;
}
ul {
    list-style:square;
}
ul.change {
    margin: 0em 0em 0em 1em; padding: 5px 5px 5px 5px;
}
/* ID */
#top {
    height: 90px; background: white;
}
#top-logo {
    position: absolute; left: 15px; top: 15px; z-index: 3;
}
#top-menu {
    background: #ffffff;
    padding: 28px 1px 1px 180px; font-weight: bold; font-size:16pt;
    letter-spacing: 3px; color: #202040;
}
#top-auth {
    position: absolute; right: 10px; top: 15px; z-index: 3;
    text-align: right;
}
#vinfo {
    float: left; left: 2px; text-align: left; color: white; /*width:70%;*/
}
#vmenu {
    float: right; text-align: right;
}

span.vk {
    background-color: #fafaff; border: solid #f0f0f0 1px; cursor: pointer;
}
.top-name {
    border: solid #baccdd 1px; font-size: 8pt; /*font-family: Monospace, Courier;*/
}
.top-go {
    background: rgb(250,250,255); color: #202040;
    font-weight: bold; font-size: 8pt; letter-spacing: 0.2em;
    cursor: pointer;
    border-left: solid #ffffff 1px;
    border-right: solid #baccdd 1px;
    border-top: solid #ffffff 1px;
    border-bottom: solid #baccdd 1px;
}
#top-line {
    margin: 0px; padding: 6px 2px 1px 2px;
    background: url("/images/gradFon.png") repeat-x top #eaeaea; font-size: 9pt;
    height: 18px;
}
#bottom-line {
    margin: 0px; padding: 0px; background-color: #baccdd; font-size: 0pt;
    height: 3px; border-bottom: 1px solid rgb(118,118,123);
}
#lang {
    text-align: center; padding: 2px 0px 0px 0px; color: black; font-size: 10 pt;
}
#site {
    font-weight: bold; color: #202040; text-decoration: none;
}
#site:hover {
    color: #B22A2A; text-decoration: underline;
}
/* Menu styles */
#menu {
    position: absolute; width: 12em; height: auto; bottom: 0px; top:120px; z-index:1;
    left: 0px; background: #eaeaea;
}
#menu ul {
    list-style: none; margin: 0px 0px 0px 0px; padding: 5px 5px 5px 5px;
}
#menu li {
    list-style: none; margin: 1px 0px 0px 0px;
    padding-left: 10px;
    text-align: center;
    font-size: 10pt; font-weight: bold; background: url("/images/leftBorder.gif") no-repeat top left #fafaff;
    border-left: solid #eaeaea 1px;
    border-right: solid #eaeaea 1px;
    border-top: solid #eaeaea 1px;
    border-bottom: solid #eaeaea 1px;
    letter-spacing: 0.2em;
}
#menu li div {
	padding: 2px 10px 2px 0px;
	background: url("/images/rightBottomBorder.gif") no-repeat bottom right #fafaff;
}
#menu a {
    text-decoration: none; color: #202040;
}
#rightbar {
    position: absolute; width: 14em; background: #eaeaea;
    bottom: 0px; top: 0px; right: 0px; z-index: 1; text-align: center;
}
div.headleft {
	margin-right: 4px; margin-left: 4px;
	background: url("/images/leftBorder.gif") no-repeat left top #aabccd;
}
div.headright {
	background: url("/images/rightBorder.gif") no-repeat right top #aabccd; font-size: 9pt;
	margin-right: 0px; margin-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;
	font-weight: bold; color: white; 
}
img.close {
	float: right; margin-top: -1.2em; margin-right: 0.5em; width: 10px;
	cursor: pointer;
}
#main-offset {
    position: relative; padding: 0em 0em 0em 0em; min-height: 460px;
    margin: 1em 0em 0em 0em; text-align: left; background: #eaeaea;
}
#main-offset-l {
	background: url("/images/leftBorder.gif") no-repeat top left #ffffff; margin-left: 12em;
	margin-right: 14em; padding-left: 10px;
}
#main-offset-r {
	background: url("/images/rightBorder.gif") no-repeat top right #ffffff; text-align: center;
}
#main-content {
	background: white; margin: 0em 14em 0em 12em; padding: 0.5em 1em 1em 1em;
}
#bottom {
    width: 100%; text-align: center; color:#202040;
    padding: 1em 0em 1em 0em; font-weight: bold; background-color: #eaeaea;
}
#bottom-offset-l {
	background: url("/images/leftBottomBorder.gif") no-repeat bottom left #ffffff;
	margin-left: 12em; margin-right: 14em;
	padding-left: 10px;
}
#bottom-offset-r {
	background: url("/images/rightBottomBorder.gif") no-repeat bottom right #ffffff;
}

/* news */

p.news {
    margin: 15px 0px 0px 0px; padding: 0px 0px 0px 0px; line-height: 1.5;
    text-align: justify;
}
p.break {
    margin: 15px 0px 15px 0px; padding: 0px 0px 0px 0px; line-height: 1.5;
    text-align: justify; 
}
.header {
    padding: 0px 0px 0px 0px; font-size:13pt; letter-spacing: 0.2em;
    font-weight: bold; color: #202040; background: url("/images/gradHeader.png") repeat-x white;
}
#news-archive{
    margin-top: 2em; font-size: 9pt; text-align: center;
}
span.news-date {
    font-weight: bold; padding: 2px 4px 1px 4px; background: url("/images/ramka.gif") no-repeat top left #f0f0ff; font-size: 12pt;
    border-right: solid #e0e0e0 1px; border-bottom: solid #e0e0e0 1px;
}
span.news-date-nmu {
    font-weight: bold; padding: 2px 4px 1px 4px; background: url("/images/ramka.gif") no-repeat top left #e6e6e7; font-size: 12pt;
    border-right: solid #e0e0e0 1px; border-bottom: solid #e0e0e0 1px;
}
span.news-date-new, span.news-date-nmu-new {
    font-weight: bold; padding: 2px 4px 1px 4px; background: url("/images/ramka.gif") no-repeat top left #baccdd; font-size: 12pt;
    border-right: solid #e0e0e0 1px; border-bottom: solid #e0e0e0 1px;
}
span.news-text {
    font-size: 9pt;
}
a.news {
    font-weight: bold; color: #202040; text-decoration: none;
}
a.news:hover {
    /* color:#fad712; */
    color: #b01804;
    text-decoration: underline;
}

a.repocoplink {
    color: white
}

a.repocoplink:hover {
}

span.vkladka {
	background: url("/images/ramka.gif") no-repeat top left #eaeaea;
	border-bottom: solid #baccdd 2px; border-right: solid #baccdd 1px;
	font-size: 9pt;
}
span.current {
	background: url("/images/ramka.gif") no-repeat top left #baccdd;
	border-right: solid gray 1px;
	border-bottom: solid #baccdd 2px;
	font-size: 10pt; color: white;
}
span.underl {
	border-bottom: solid #baccdd 2px;
}
b.reserved {
    text-decoration: underline; color: #a02020;
}
b.comment {
    color: gray; font-style: italic;
}
#screen {
    display: block; height: 180px; padding: 5px 5px 5px 5px; font-size: 10pt;
}
#docslist {
    list-style: square; padding-left: 1em; font-size: 10pt; font-weight: bold;
}
#bugs {
    border: #e0e0e0 solid 1px;
}
#bugs th {
    text-align: center;
    border-right: #e0e0e0 solid 1px;
    border-bottom: #e0e0e0 solid 1px; background-color: rgb(250,250,255);
}
#bugs td {
    background-color: white; border-bottom: dotted #e0e0e0 1px;
    padding-left: 2px;
    padding-right: 2px;
/* text-align: center;*/
}
#bugs td.strange {
    background-color: #e0e0e0 ; border-bottom: dotted white 1px;
/* text-align: center;*/
}
#nav {
    float: right; text-align: center;
}
#rpmtop {
    float: left; text-align: left; width: 75%; height: 3em;
}
#board {
/*    border: #e0e0e0 solid 0px; */
}
#board th {
    text-align: center; border-right: #e0e0e0 solid 1px;
    border-bottom: #e0e0e0 solid 1px; background-color: rgb(250,250,255);
}
#board td {
    background-color: white; border-bottom: dotted #e0e0e0 1px; text-align: center;
    padding: 4px 4px 4px 4px;
}

#board td.nick {
    background-color: white; border-bottom: dotted #e0e0e0 1px; border-right: #e0e0e0 solid 1px;
    text-align: center; padding: 4px 4px 4px 4px;
}

span.tabsel {
    background-color: rgb(250,250,250);
    border-right: solid #e0e0e0 1px; border-top: solid #e0e0e0 1px; border-left: solid #e0e0e0 1px;
    border-bottom: solid rgb(250,250,255) 1px; 
    font-size: 10pt;
}
span.tabunsel {
    background-color: rgb(240,240,240);
    border: solid #e0e0e0 1px;
    font-size: 10pt;
}
img.icon {
	margin: 0px 4px 0px 0px;
}

/* Pretty table */
.pretty {
  border: #aabccd solid 1px;
  width: 100%
}

.pretty td {
	text-align: left; padding: 2px;
	border-bottom: #aabccd solid 1px;
	border-right: #aabccd solid 1px;
}

.pretty th {
	text-align: center; font-weight: bold;
	border-bottom: #aabccd solid 1px;
}
pre {
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
}
