<% srpm_count @package_counter %>
<% title "Sisyphus 2.0 &mdash; intro" %>

<!--<h1><%= t 'main.welcome' %></h1>-->

<div class="header">Sisyphus</div>
<p style="text-align:justify">
<span class="news-text">
<b>Sisyphus</b> &mdash; ежедневно обновляемый репозиторий пакетов свободных программ <abbr title="Независимая команда разработчиков ALT Linux">ALT&nbsp;Linux&nbsp;Team</abbr>. Участие в Sisyphus открыто для всех желающих. В основе Sisyphus лежат технологии сборки программ и учета зависимостей между ними, а также отработанные процессы по взаимодействию между разработчиками. Для использования Sisyphus достаточно наличие любого дистрибутива ALT&nbsp;Linux и средства управления пакетами программ <b>APT</b>. Sisyphus &mdash; это постоянно развивающийся набор решений, на основе которого возможно создание универсальных или специализированных <b>дистрибутивов Linux</b> и <b>одиночных внедрений</b>.
<br /><br />
Sisyphus не направлен на удовлетворение нужд конечных пользователей, и его использование может привести к непредсказуемым последствиям. Если вам нужна надежно работающая система, то следует использовать только дистрибутивы ALT&nbsp;Linux и штатные обновления к ним.
</span>
</p>
<p class="break" />
<div class="header">Последние изменения в пакетной базе</div>
<!--#include virtual="/cgi-bin/stats.pl?type=lastrpm" -->
<p class="break" />
<div style="text-align:center">
	<a href="/releases" class="news" title="просмотреть список предыдущих релизов пакетов">&raquo; другие трансферы</a>
</div>
</div>
<div id="bottom-offset-l"><div id="bottom-offset-r">&nbsp;</div></div><div id="rightbar">
	<div class="headleft">
		<div class="headright" title="выборка лидеров по количеству пакетов">
			TOP майнтейнеры
		</div>
		<img id="topMain" src="/images/collapse.gif" class="close" onclick="imgSwap('topMain')" title="свернуть/развернуть окно" alt="свернуть/развернуть окно" />
	</div>
	<div id="topMainDiv" style="border: dotted #aabccd 1px;margin: 0px 4px 4px 4px;">
	<table style="font-size:8pt;" width="100%">

        <% @top15.each do |t| %>
          <tr>
            <td style="text-align: left;">
              <%= link_to h(t.name), '/' + h(params[:locale]) + '/packager/' + h(t.login), :class => 'news', :title => 'information about the packager' %>
            </td>
            <td style="text-align: right;"><%=h t.counter %></td>
          </tr>
        <% end %>

	<tr><td colspan="2" align="center">...</td></tr>
	</table>
</div><br />
    <div class="headleft">
	    <div class="headright" title="выборка пакетов по количеству релизов за последние пол-года">
		    TOP пакеты
	    </div>
	    <img id="topRPM" src="/images/collapse.gif" class="close" onclick="imgSwap('topRPM')" title="свернуть/развернуть окно" alt="свернуть/развернуть окно" />
    </div>
	<div id="topRPMDiv" style="border: dotted gray 1px;margin: 0px 4px 4px 4px;">
	<table style="font-size:8pt;" width="100%">
<!--#include virtual="/cgi-bin/stats.pl?type=activity" -->
	<tr><td colspan="2" align="center">...</td></tr>
	</table>
</div><br />
    <div class="headleft">
	    <div class="headright" title="выборка пакетов по количеству релизов за последние пол-года">
		    tips &amp; tricks
	    </div>
	    <img id="topTips" src="/images/collapse.gif" class="close" onclick="imgSwap('topTips')" title="свернуть/развернуть окно" alt="свернуть/развернуть окно" />
    </div>
    <div id="topTipsDiv" style="border: dotted gray 1px;margin: 0px 4px 4px 4px; text-align: justify;padding:2px">
	    <b>Синхронизация Sisyphus</b><br />Q: Как избежать копирования множества пакетов, необходимость которых, лично вам, сомнительна?<br />A: Составьте фильтр для rsync, на основе данной <a href="/rsync.shtml" class="news">формы</a>
    </div>
</div>



<!--#include virtual="/inc/bottom.shtml?skipit" -->

