<% srpm_count @package_counter %>
<% title "Sisyphus 2.0 - News" %>
<!-- <title>ALT Linux Sisyphus - Новости</title> -->
<% url "/news" %>

<div class="header">Новости</div>
<p class="news" />
<span class="news-date">21 октября 2009</span> Просто очень большой релиз<br /><br />
<span class="news-text">
Новостей просто очень много, но я постараюсь не забыть ничего. Начнём с того что у сайта новый маинтейнер и разработчик движка в виде <a href="/packager/icesik" title="да-да, именно в виде меня:)">меня</a>. Было очень много сделано, переделано и так далее. Для начала, движок переписан на <a href="http://rubyonrails.org/" title="Ruby on Rails">Ruby on Rails</a>. Из-за того что движок был переписан часть вещей не работает, часть работает не так, а часть просто ещё не дописана. Появилось немного новых фич.<br /><br />

<b>Начнём с того чего пока нет или оно не работает в новом движке, но было в старом:</b>

<br /> </span>

<ul>
  <li>На главной странице должен быть список свежих пакетов, но пока его нет.</li>
  <li>Top-15 пакетов.</li>
  <li>Формы для создания фильтров для rsync нет.</li>
  <li>RSS нет. Будет чуть позже.</li>
  <li>Раздела Security пока тоже нет.</li>
</ul>

<br />

<b>Баги движка:</b>

<br />

<ul>
  <li>Пока не видно, но они скорее всего есть.:)</li>
</ul>

<br />

<b>Изменения:</b> <br />
<ul>
  <li>На странице с информацией о маинтейнере теперь не показывается количество пакетов которые собрал/собирает маинтейнер. Это больше не актуально. Теперь там показыватся две цифры. Количество пакетов для которых маинтейнер является "лидером" по ACL и количество пакетов к которым маинтейнер имеет доступ по ACL.</li>
  <li>На странице с информацией о маинтейнере появилась страница с его gear-репозиториями.</li>
  <li>На странице багов пакета показываются баги из багзиллы только те что висят на том же бранче в багзилле.</li>
  <li>Top15 на главной формируется по ACL к пакетам, а не по самим пакетам.</li>
  <li>На странице с маинтейнерами/коммандам показывается число пакетов к которым имеет доступ по ACL маинтейнер/комманда.</li>
  <li>На странице багов пакета не показывается поле priority из багзиллы</li>
</ul>

<b>Новое:</b> <br />
<ul>
  <li>На сайте теперь есть рабочий sitemap для всего сайта (кроме статических страниц которые надо просто добавить в sitemap).</li>
  <li>Кэширование.</li>
  <li>Добавлен репозиторий с Fedora Rawhide.</li>
</ul>

<br />
<p class="news" />
<span class="news-date">5 июля 2008</span> Поддержка repocop<br /><br />
<ul>
	<li>Благодаря стараниям <a href="/packager/viy">Игоря Власенко</a> в prometeus интегрированы отчеты системы тестирования пакетов <a href="http://www.freesource.info/wiki/AltLinux/Sisyphus/Tools/Repocop">repocop</a>, за что ему огромное спасибо.</li>
	<li>Периодически исправляются небольшие недочеты, которые я не описываю здесь, но можно найти их в багзилле или посмотреть коммиты в git.</li>
</ul>
<br />
<p class="news" />
<span class="news-date">25 февраля 2008</span> Релиз к дню защитника отечества<br /><br />
<ul>
	<li>Поиск по obsoletes/orphaned</li>
	<li><a href="/secuity">Новости</a> обновлений безопасности</li>
	<li>В экспериментальном режиме: сравнение версий с версиями upstream и freshmeat</li>
	<li>Несколько bug fix'ов и косметических изменений</li>
</ul>
<br />
<p class="news" />
<span class="news-date">27 октября 2007</span> Возрождение проекта<br /><br />
<span class="news-text">
	После продолжительного застоя проект снова возрожден, правда поменял мантейнера. Теперь его поддержкой занимается <a href="/packager/liks">Андрей Авраменко</a>. 
	Соответственно все замечания и пожелания нужно направлять ему.
</span>
<br />
<ul>
	<li>Добавлена поддержка основных репозиториев помимо Сизифа. Теперь при выборе пакета справа появляется меню с указанием версии пакетов в других репозиториях</li>
	<li>Добавлена поддержка архитектуры x86_64.</li>
	<li>Исправлена лента RSS (спасибо <a href="/packager/icesik">Игорю Зубкову</a>)</li>
	<li>Некоторые страницы приведены к стандарту XHTML 1.0 (спасибо <a href="/packager/icesik">Игорю Зубкову</a>)</li>
	<li>Появилась возможность смотреть пакеты, которые остались без владельца. Для этого создана виртуальная команда nobody. Ее можно увидеть последней в <a href="/people">списке команд</a>.
	<li>Добавлена закладка со списком gear репозитариев для пакетов</li>
	<li>Добавлена возможность скачивать патчи</li>
	<li>Испралена куча Bug'ов. Список можно посмотреть в bugzill'е</li>
</ul>
<br />
<p class="news" />
<span class="news-date">16 ноября 2005</span> Дальнейшее тестирование<br /><br />
<span class="news-text">
	Упс, потерялся последний changelog... Ладно, бог с ним. Что нового сейчас:
</span>
<br />
<ul>
	<li>Трансферы пакетов. Осознав дискретную природу обновления Sisyphus, сделан отчёт о последних изменениях в пакетной базе по фактам появления пачки новых пакетов</li>
	<li>Фильтр пакетов для rsync</li>
	<li>Добавилась закладка ПАТЧИ для исходных пакетов</li>
	<li>Закладка ЗАГРУЗИТЬ выводит список как исходных, так и бинарных пакетов (+ хитрая система выбора зеркала)</li>
	<li>Сортировка пакетов майнтейнера по имени пакета и по возрасту сборки</li>
</ul>
<br />
<p class="news" />
<span class="news-date">26 октября 2004</span> Обновление<br /><br />
<span class="news-text">
Попытка заставить mysql шуршать быстрее привела к переделке базы и поломала весь движок. Вот результаты рутинной починки и некоторые косметические изменения.<br /><br />
</span>
<b>Changelog:</b> <br />
<ul>
<li>Изменение в базе данных (подготовка к &quot;интерфейсу майнтейнера&quot;, расстановка индексов и прочие "ускоряющие" хинты)</li>
<li>Последние сборки теперь можно просматривать постранично (по убыванию времени релиза)</li>
<li>Более информативное отображение данных о последних релизах пакетов: распознаётся NMU и появление нового пакета в репозитории</li>
<li>На странице со списком багов пакета по умолчанию отображаются только незакрытые баги. Список всех багов также доступен</li>
</ul>
<br />

<p class="news" />
<span class="news-date">1 сентября 2004</span> Обновление сайта<br /><br />
<span class="news-text">
После большого перерыва продолжается работа над сайтом.<br /><br />
<b>Changelog:</b> <br /></span>
<ul>
<li>Проект переименован в Prometeus. Название пока не окончательное</li>
<li>Сайт переходит на автоматическое ежедневное обновление</li>
<li>Реализованы форумы</li>
<li>Реализован поиск по пакетам</li>
<li>Простейший счётчик посещений</li>
<li>Исправлен вывод багов (выводятся баги всех rpm-пакетов, собираемых из данного srpm-пакета)</li>
<li>Исправления в html-коде для корректного отображения сайта в различных браузерах (Mozilla &amp; gecko based, Konqueror, Opera, IE6)</li>
</ul>
<br />
<p class="news" />
<span class="news-date">22 июля 2004</span> Очередной public релиз (версия 0.4)<br /><br />
<span class="news-text">
Очередной релиз по прежнему альфа-версии сайта. Становится тяжело отслеживать изменения, но ещё труднее разобраться в TODO списке -- фантазия разыгралась, и хочется ещё очень много внести нового. Но в ближайших планах три очень важных пункта: реализация форума, счётчика посещений и поиска по сайту. Если я не успею сделать это к концу отпуска, то дата следующего релиза будет равна <b>undef</b> &nbsp; :(<br /><br />
<b>Итак, изменения:</b> <br />
</span>
<ul>
<li>Код движка теперь полностью mod_perl ready! Работает и без mod_perl, но м-е-д-л-е-н-н-о &hellip;</li>
<li>Регистрация на сайте: реализован, так называемый, "личный кабинет", где каждый посетитель может устанавливать какие пакеты он будет отслеживать (новые версии, новые баги, новые сообщения в форуме по пакету), выставлять закладки</li>
<li>Улучшена навигация по пакетам: добавлены переходы следующий/предыдущий пакет майнтейнера/rpm-группы</li>
<li>Улучшено представление информации о майнтейнере: список пакетов теперь включает время сборки, возраст, Url, summary</li>
<li>В информацию о майнтейнере добавлена статистика по багам assigned на данного майнтейнера</li>
<li>Улучшена сортировка списка багов: на верху новые/незакрытые баги, ниже закрытые и некорректные</li>
<li>Название rpm-групп теперь переведено на русский</li>
<li>На сайте теперь указывается когда было последнее обновление</li>
<li>Список майнтейнеров и команд теперь отсортирован по именам (а не по мылу)</li>
</ul>
<br />
<p class="news" />
<span class="news-date">11 июля 2004</span> Ещё один предварительный релиз altbase<br /><br />
<span class="news-text">
Перед выкладыванием rpm-пакета я подумал, что стоит ещё раз потестировать движок. Глюки в  
предыдущем релизе присутствовали, думаю, что ещё есть ;)<br />
<b>Изменения:</b> <br /></span>
<ul>
<li> Расширена информация о пакетах (changelog, spec, зеркала, список багов)</li>
<li> В top-15 майнтейнеров не указываются больше команды</li>
<li> В правом верхнем углу притаились загадочные надписи "регистрация" и "авторизация". Функционал ещё
не работает, но всех ли устроит что это завязано на javascript?</li>
</ul>
<br />
<p class="news" />
<span class="news-date">07 июля 2004</span> Предварительный релиз altbase<br /><br />
<span class="news-text">
Это предварительный релиз информационного сайта разработчиков ALT Linux Team.<br />
Проводится предварительное тестирование функциональности.<br />
Первый релиз альфа-версии сайта в виде rpm-пакета для локального тестирования планируется
на следующей неделе.
</span>
<br /><br /><br />

