<% srpm_count @package_counter %>
<% title "Sisyphus 2.0 - Information about the project" %>
<% url "/project" %>

<div class="header">Проект Prometeus</div>
<p class="break" style="text-align:justify" />
<br />
<span class="news-text">
Проект <b>Prometeus</b> - это попытка создать информационно-аналитический сайт для разработчиков и
пользователей репозитория Sisyphus.<br /><br />

Для разработчиков он будет интересен тем, что позволит более тесно взамодействовать с другими
разработчиками и пользователями его пакетов. Майнтейнеры смогут обмениваться информационными
сообщениями с командой, извещая о тех или иных изменениях в поддержке своих пакетов, смогут
объединяться в команды по "интересам" - что может улучшить качество создаваемых пакетов, благодаря
коллективным усилиям над улучшениями и исправлению багов. Чтобы каждый майнтейнер знал, кто может
временно его подменить по поддержке пакета, если он будет отсутствовать и т.д.<br />
Особо ценным ресурс может оказаться для новобранцев ALT Linux Team. Это исключит много однообразных
вопросов по работе, избавит новичка от копания в архивах devel@ рассылки в поисках ответа на свои
вопросы. Исследование сайта сразу даст ему понять "кто есть кто", "кто чем занимается", 
"какого состояние дел" в той области, которой он интересуется.<br /><br />

Пользователи Sisyphus смогут получить полную информацию о пакетах. Смогут ознакомиться с документацией
по пакету (ссылки на сайты с полезной документацией, специфичная для ALTLinux информация о пакете,
особенности сборки и т.д.). Это в будущем может избавить от лишних вопросов в рассылках и
упорядочит весь имеющийся архив документации по ALTLinux. В обсуждениях (форумах) будет
возможность общения с майнтенерами, что опять же может дать ответ на большинство вопросов новичков.<br />
Для опытных пользователей будет удобная возможность отслеживания состояния интересующих их пакетов. Они
смогут вносить свои предложения по развитию.<br /><br />

Для ООО &quot;Альт Линукс&quot; и Core Team (собственно те кто стоит на страже INCOMING и делает из
Sisyphus то, что потом называется дистрибутивом ALT) это тоже сможет служить полезным инструментом для
извлечения систематизированной информации о ходе развития Sisyphus. Увидеть слабые и сильные стороны,
какие группы пакетов активно развиваются и поддерживаются, какие менее востребованы.<br /><br />

Дополнительным положительным свойством проекта можно назвать возможность его использования
для любого другого непротиворечивого среза пакетов (и не только Sisyphus). Или локально, внутри какой-либо
группы разработчиков, или вообще одному для собственных изысканий.
</span>

