<% title _('Prometheus 2.0 - 404') %>

<div id='main-content'>
  <div class='header'><%= _('No such package!') %></div>
</div>

<div id='bottom-offset-l'>
  <div id='bottom-offset-r'>
    &nbsp;
  </div>
</div>
