<% srpm_count @sisyphus.srpms.all.count %>
<% title _("Prometheus 2.0 - Package - Error!") %>
<% url "/srpm/" + h(params[:branch]) + '/' + h(params[:name]) %>

<div class="header"><%=h _("No such package!") %></div>
