<% srpm_count @package_counter %>
<% title "Sisyphus 2.0 - Package - error! no such package" %>
<% url "/srpm/" + h(params[:branch]) + '/' + h(params[:name]) %>

<div class="header">Нет такого пакета!</div>
