<% title _('Prometheus 2.0 - Maintainer - Error! no such packager') %>

<div id='main-content'>
  <div class='header'><%= _("No such packager!") %></div>
</div>

<div id='bottom-offset-l'>
  <div id='bottom-offset-r'>
    &nbsp;
  </div>
</div>
