<% title _('Prometheus 2.0 - Group - Error!') %>

<div id='main-content'>
  <div class='header'><%= _('No such branch!')%></div>
</div>

<div id='bottom-offset-l'>
  <div id='bottom-offset-r'>
    &nbsp;
  </div>
</div>
