<% title _('Prometheus 2.0 - Search') %>

<div id="main-content">
  <div class="header"><%= _('Search is not available.') %></div>
  <span class="news-text">
    <%= _('Sphinx rebuild indexes. Please try again later.') %>
  </span>
</div>

<div id="bottom-offset-l">
  <div id="bottom-offset-r">
    &nbsp;
  </div>
</div>
