<% title _('Prometheus 2.0 - Security') %>

<div id='main-content'>
  <div class="header"><%= _('Security fixes') %></div>
  <p class="news" />

  <%= render partial: 'srpms' %>

</div>

<div id='bottom-offset-l'>
  <div id='bottom-offset-r'>
    &nbsp;
  </div>
</div>
