#main-content

  %table{ :border => '1' }
    - @bug_statuses.each do |bug_status|
      - @resolutions.each do |resolution|
        - count = @bugs.where(:bug_status => bug_status.bug_status, :resolution => resolution.resolution).count
        - if count != 0
          %tr
            %td= count
            %td= bug_status.bug_status
            %td= resolution.resolution

#bottom-offset-l
  #bottom-offset-r
    &nbsp;
