.sources {
   tr {
      &.arch {
         & > td {
            padding-top: 1em;
            font-weight: bold;
         }
      }

      .package {
         border-bottom: dotted 1px #aaa;
         padding-right: 1em;

         a {
            font-weight: bold;
         }
      }

      .size {
         text-align: right;
         font-weight: bold;
      }
   }
}
