<!DOCTYPE html>
<html>
  <head>
    <title>Prometheus 2.0</title>
    <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport'>
    <%= stylesheet_link_tag 'mobile' %>
    <%= javascript_include_tag 'iui.js' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
